.AppContainer {
  text-align: center;
  background-color: white;
}

.App-Body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.players {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  h2{
    width: 100%;
    margin-bottom: 0;
  }
}

h1 {
  font-size: 72px;
  font-weight: 600;
  background: -webkit-linear-gradient(#06065D, #A70107);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0;
  margin-top: 1rem;
}

h2 {
  font-size: 30px;

  @media (max-width: 800px) {
    font-size: 16px;
  }
}

html {
  margin: 0;
  padding: 0;
}

.generateAndPoolsArea {
  border: 2px solid black;
  border-radius: 0.75rem;
  width: 80%;
  margin: 1rem 0;
  padding: 2rem;
  @media (max-width: 800px) {
    padding: 1rem;
  }
}

.teams {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;

  h2{
    width: 100%;
    margin-bottom: 0;
  }
}

.team {
  display: flex;
  justify-content: center;
  /* border: 2px solid black;
  width: 80%; */
}

.teamContainer {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-left: 0;
  margin-right: 0;
  border: 2px solid black;
  border-radius: 12px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  /* padding-bottom: 1rem;
  padding-top: 1rem; */
  padding: 2rem;
  @media (max-width: 800px) {
    padding: 1rem;
    flex-direction: column;
  }

  /* display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid black;
  width: 80%; */
}

.team1Area {
  color: white;
  background-color: #06065D;
  border-radius: 0.75rem;
  padding-bottom: 2rem;
  margin-right: 1.5rem;
  border: 2px solid black;
  min-width: 40%;

  

  .PlayerCard {
    @media (max-width: 1200px) {
      width: 150px;
      flex-direction: column;

      button{
        margin: 0.5rem 0;
      }
    }
  }
}

.team2Area {
  color: white;
  background-color: #A70107;
  border: 2px solid black;
  border-radius: 12px;
  padding-bottom: 2rem;
  margin-left: 1.5rem;
  min-width: 40%;

  .PlayerCard {
    @media (max-width: 1200px) {
      width: 150px;
      flex-direction: column;

      button{
        margin: 0.5rem 0;
      }
    }
  }
}

@media (max-width: 800px) {
  .team1Area,.team2Area{
    margin: 0;
    min-width: 100%;
    padding-bottom: 0.5rem;
  }
  .team1Area {
    margin-bottom: 1rem;
  }
}

.teamPlayerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  flex-wrap: wrap;
  width: 80%;
  h2 {
    width: 100%;
  }

  /* display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  h2{
    width: 300px;
  } */
}

.pools {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.ChampionPoolContainer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  border-radius: 0.75rem;
  margin: 1rem 0;
  @media (max-width: 800px) {
    padding: 1rem;
    flex-direction: column;
  }
}

.pool {
  border: 2px solid black;
}

.iconContainer {
  padding: 0 2rem;
  h2 {
    width: 100%;
  }
}

.PlayerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin-left: 0;
  margin-right: 0;
  border: 2px solid black;
  border-radius: 12px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  /* padding-bottom: 1rem;
  padding-top: 1rem; */
  padding: 2rem;
  @media (max-width: 800px) {
    padding: 1rem;
  }
}


.PlayerCard {
  background-color:white;
  box-shadow: 0.5rem 0.5rem black;
  font-weight: bold;
  font-size: 14px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  border: 2px solid silver;
  border-radius: 12px;
  margin: 1rem auto;
  padding: 0.5rem;
  button{
    width: 70px;
    border-style: solid;
    border-radius: 12px;
    height: 35px;
    color: white;
  }

  .team1Button{
    order: 1;
    background-color: #06065D;
  }
  .team2Button{
    order: 3;
    background-color:#A70107;
  }
  .changeButton{
    order: 1;
    font-size: 12px;
    text-wrap:nowrap;
    width: 85px;
    color: white;
    font-weight: bold;
    background-color:seagreen;
  }
  .removeButton{
    order: 3;
    background-color: crimson;
  }

  .playerName {
    flex-grow: 1;
    text-align: center;
    @media (max-width: 800px) {
      margin: 1rem 0;
    }
  }
  
  .champCount{
    flex: 1;
    display: block;
    font-weight: normal;
  }
}

.generateAndPoolsContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  h2 {
    width: 100%;
    margin-bottom: 0;
  }
}

.generateContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.generateArea {
  width: 100%;
  border-radius: 0.75rem;
}

.PlayerCreatorImage {
  width: 50px;
  margin: 5px;
  border-radius: 6px;
}

.PlayerCreatorIconContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.darken {
  opacity: 25%;
}

.poolsButton{
  height: 50px;
  border-radius: 12px;
  border: 2px solid black;
  font-weight: bold;
  font-size: 16px;
  background-color: seagreen;
  color:white;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.checkBoxes {
  display: block;
  justify-content: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.inputText {
  width: 230px;
  padding: 16.5px 15px;
}

.GenerateButton {
  height: 50px;
  display: block;
  margin: 5px;
  border-radius: 12px;
  border: 2px solid black;
}

.teamChampPics {
  margin: 7px;
  width: 100px;
  box-shadow: 0.5rem 0.5rem black;
  /* border-radius: 0.75rem; */
    @media (max-width: 800px) {
      width: 50px;
    }
}

.poolwrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.createButton {
  height: 50px;
  width: 320px;
  border-radius: 12px;
  border: 2px solid black;
  font-weight: bold;
  font-size: 20px;
  background-color: rgb(137, 137, 137)0;
  color:black;
  margin: 1rem auto;
}

.rerollLabel {
  font-size: 24px;
  font-weight: bold;
}

.rerollSelect {
  height: 30px;
  width: 50px;
  font-size: 20px;
  color: white;
  border: 2px solid black;
  background-color: seagreen;
  border-radius: 12px;
  text-align: center;
}

